In [ ]:
#Installing quandl
!pip install quandl

In [2]:
# Importing packages. 
import quandl
import pandas as pd
import pandas 
import numpy as np

In [3]:
# My API 
quandl.ApiConfig.api_key = 'GjDjD3bNcgfejjCtmS_N'

In [12]:
# Importing stock prices of TSLA, selecting ticker, date, open, high, low, close columns.
# My chosen period is 04/29/2014 and 04/29/2016, ironically my birthday dates.
tsla_stocks = quandl.get_table('WIKI/PRICES', qopts = { 'columns': ['ticker', 'date', 'open', 'high', 'low', 'close'] }, ticker = ['TSLA'], date = { 'gte': '2014-04-29', 'lte': '2016-04-29' })

In [13]:
# Converting to DataFrame
tsla_df = pd.DataFrame(tsla_stocks)
tsla_df

     ticker       date    open     high       low   close
None
0      TSLA 2016-04-29  248.14  248.430  237.8100  240.76
1      TSLA 2016-04-28  249.85  253.430  247.4400  247.71
2      TSLA 2016-04-27  252.75  255.000  249.4000  251.47
3      TSLA 2016-04-26  252.05  255.730  249.3900  253.74
4      TSLA 2016-04-25  253.01  257.380  250.7600  251.82
...     ...        ...     ...      ...       ...     ...
501    TSLA 2014-05-05  209.48  217.690  208.5200  216.61
502    TSLA 2014-05-02  208.60  211.360  206.5200  210.91
503    TSLA 2014-05-01  207.08  214.020  205.6900  207.73
504    TSLA 2014-04-30  203.60  208.160  201.2800  207.89
505    TSLA 2014-04-29  198.21  207.149  195.5301  206.92

[506 rows x 6 columns]

In [16]:
# 1: How much is the average daily percentage change of the opening price? 
# Used pct_change() and mean() functions.
average_pct_change = tsla_df["open"].pct_change().mean()
average_pct_change

-3.799464806397525e-05

In [17]:
# 2: How much is the median daily percentage change of range between highest and lowest daily prices?
# Firstly, calculated the difference between high and low and divided by high.
# Secondly, used pct_change() and median() functions. 
median_pct_change = ((tsla_df["high"] - tsla_df["low"])/tsla_df["high"]).pct_change().median()
median_pct_change

0.009536016910461909